<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- Incluye los archivos CSS de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div style="text-align: center">
        <img width="300" alt="Logo Proyecto" src="/assets/zindexlogo.jpg" />
    </div>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">¡ZINDEX!</h1>
    <p class="lead">Bienvenido a nuestra pagina</p>
    <hr class="my-4">
    <p>¡GESTIONA TUS CITAS MEDICAS!</p>
    <a class="btn btn-primary btn-lg" href="http://localhost:4200/Universal" role="button">Catalogo Universal</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:4200/Paciente" role="button">Pacientes</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:4200/Doctor" role="button">Doctores</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:4200/Cita" role="button">Citas</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:4200/Contacto" role="button">Contactos</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:4200/Calificacion" role="button">Calificacion</a>
    
  </div>
</div>

<!-- Incluye los archivos JavaScript de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
