/* Estilos generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff; /* Establece el fondo en blanco */
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #3b3d86;
}

/* Estilos de los contenedores */
.dir,
.listaU,
.lista,
.colo,
.Tipveh,
.Marc,
.TipDocc,
.Epps,
.pref,
.crea,
.edit,
.buscar,
.creaU,
.editU {
  width: 600px; /* Aumento el ancho de los contenedores a 600px */
  margin: 20px auto; /* Centrar horizontalmente y agregar espacio entre ellos */
  padding: 20px;
  text-align: center;
  border: 3px solid #3b3d86;
  background-color: #fff;
}

/* Estilos para los enlaces */
a {
  color: #3b3d86;
  text-decoration: none;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: separate; /* Utiliza el borde separado para evitar el espacio adicional */
  font-family: "calibri", Garamond, "Comic Sans";
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
}

th,
td {
  border: 1px solid #3b3d86;
  border-bottom: none; /* Elimina el borde inferior en las celdas */
  padding: 10px;
  vertical-align: top; /* Alinea el contenido en la parte superior de las celdas */
  height: 10px; /* Establece una altura más pequeña para las celdas */
}

thead {
  background-color: #3b3d86;
  color: #fff;
}

/* Establece una altura fija para las celdas del encabezado */
th {
  height: 40px;
}

tr:nth-child(even) {
  background-color: #e6d6f2; /* Agrega un tono de morado claro a las filas pares */
}

/* Estilos para los botones */
button {
  display: block; /* Hace que los botones se muestren uno debajo del otro */
  width: 100%; /* Establece el ancho al 100% del contenedor */
  margin: 10px auto; /* Centra los botones horizontalmente y agrega espacio entre ellos */
}
